
*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Times New Roman', Times, serif;
}

/*BARRA DE NAVEGACIÓN*/

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

nav ul{

  background-color: #131212;
  width: 100%;
  list-style-type: none;
  text-align: center;
}
nav li{
  display: inline-flex;
}

nav a{
  text-decoration: none;
  color: rgb(255, 255, 255);
  padding: 10%;
  width: 150px;


}

nav li:hover{
  background-color: rgb(0, 0, 0);
}

h1{
  text-align: center;
  position: relative;
  width: 80%;
  margin: 10px auto;
}
body{
  background: #4568DC;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(top, #202020, #425185);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(top, #202020, #425185);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
h1::before{
  content: "";
  display: block;
  width: 100%;
  height: 2px;
  position: absolute;
  background-color: rgb(255, 255, 255);
  top: 50%;
  z-index: -1;
}
h1 span{
  background-color:#202020;
  padding: 0 15px;
  color: white;
}
.img-gallery{
  width: 90%;
  margin: 50px auto 50px;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(240px,1fr));
  gap: 30px;
}
.img-gallery img{
  width: 100%;

  cursor: pointer;
  transition: 1s;
}
.img-gallery img:hover{
  transform: scale(1.2);
}
.ful-img{
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0,0, 0.9);
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 99;
}
.ful-img span{
  position: absolute;
  top: 5%;
  right: 5%;
  font-size: 30px;
  color: rgb(255, 255, 255);
  cursor: pointer;
}
.ful-img img{
  width: 426px;
  max-width: 639px;
}
@media screen and (max-width:400px){
  h1{
      text-decoration: underline;
  }
  h1::before{
      display: none;
  }
  h1 span{
      padding: 0;
  }
}
footer {
  background-color: #636262;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.contact-info, .social-media {
  flex: 1 1 300px;
  margin-bottom: 20px;
}

.contact-info h3, .social-media h3 {
  margin-top: 0;
}

.social-media a {
  text-align: center;
  margin-right: 10px;
  font-size: 18px;
  color: #ffffff;
}

.social-media a:hover {
  color: #93a5f5;
}

h3{
  text-align: center;
  position: relative;
  width: 80%;
  margin: 50px auto;
  color: #ffffff;
}
p{
  text-align: justify;
  position: relative;
  width: 80%;
  margin: 50px auto;
  color: #000000;
}

a{
  color: #ffffff;
}

.video{
  text-align: center;
} 
/* Elementos pares  even*/
.par_impar li:nth-child(even):nth-child(even) {
  background-color: rgb(98, 149, 158);
}

/* Elementos impares odd */
 .par_impar li:nth-child(odd) {
  background-color: rgb(69, 71, 240);
  text-align: end;
}


.container_letf {
  transform: translate(0%, 0%);
  width: 73%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


.container_right {
  transform: translate(35%, -35%);
  width: 73%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

p {
 font-size: 1.2em;
 padding: 0em 2em;
 color: rgb(255, 255, 255);
}

h2{
  color: rgb(255, 255, 255);
}

.read-more-btn {
  background-color: #d68249;
  border: none;
  border-radius: 40px;
  color: white;
  padding: 15px 32px;
  font-size: 1.2em;
  box-shadow: 0px 0px 10px 0px #d68249;
  cursor: pointer;
}

.read-more-btn:hover {
  box-shadow: none;
  background-color: rgb(0, 0, 0);
  color: #fff;
  transition: cubic-bezier(0.075, 0.82, 0.165, 1) 3.05s;
}

 
.hideText {
  display: none;
}

.showText {
  display: block;
}

.img-right{
  width: 275px;
  height: 275px;
  position: relative;
  top: -300px;
  left: 1000px;
  transform: translate(-50%, -50%);
}

/* Media query para dispositivos móviles */
@media (max-width: 100%) {
  .img-right{
    float: none; /* Elimina la propiedad float para que la imagen ocupe todo el ancho de la pantalla */
    max-height: none; /* Elimina la altura máxima de la imagen */
  }
}

.img-left {
  width: 349.5px;
  height: 157.5px;
  position: relative;
  top: -300px;
  left: 1000px;
  transform: translate(-260%, -110%);
}

/* Media query para dispositivos móviles */
@media (max-width: 100%) {
  .img-left{
    float: none; /* Elimina la propiedad float para que la imagen ocupe todo el ancho de la pantalla */
    max-height: none; /* Elimina la altura máxima de la imagen */
  }
}

.links{
  color: #002fff;
  text-shadow: 0px 0px 1px #002fff;
}
/*PIE DE PÁGINA*/
.pie-pagina{
    width: 100%;
    background-color: #425185;
    position: none;
    top: 660px;
    
  }
  .pie-pagina .grupo-1{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px ;
  }
  .pie-pagina .grupo-1 .box figure{
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .pie-pagina .grupo-1 .box figure img{
    width: 250px;
  }
  .pie-pagina .grupo-1 .box h2{
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
  }
  .pie-pagina .grupo-1 .box p{
    color: #efefef;
    margin-bottom: 10px;
  
  }
  .pie-pagina .grupo-1 .red-social a{
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px ;
    line-height: 45px;
    color: #fff;
    background-color: #425185;
    text-align: center;
    transition: all 300ms ease;
  }
  .pie-pagina .grupo-1 .red-social a:hover{
    color: aqua;
  }
  .pie-pagina .grupo-2{
    background-color: #425185;
    padding: 0% 38%;
    text-align: center;
    color: #fff;
  }

  footer p{

    text-align: left;
    background-color: #425185;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

  }



